<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/login">Smart Todo-List</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (firstName) { %>
          <div>
            Logged in as:
            <span id="header-firstName"><%= firstName %> </span>
            <span id="header-lastName"><%= lastName %></span>
          </div>
          <form class="form-inline" action="/newTask" method="GET">
            <div class="form-group mb-2">
              <button type="submit" class="btn btn-primary">Add Task</button>
            </div>
          </form>
          <form class="form-inline" action="/user" method="GET">
            <div class="form-group mb-2">
              <button type="submit" class="btn btn-primary">Profile</button>
            </div>
          </form>
          <form class="form-inline" action="/logout" method="POST">
            <div class="form-group mb-2">
              <button type="submit" class="btn btn-primary">Logout</button>
            </div>
          </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>
