<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Tasks</h1>
  <table>
    <tr>
      <td>
        <h3>To watch</h3>
        <ul id="1"></ul>
      </td>
      <td>
        <h3>To eat</h3>
        <ul id="2"></ul>
      </td>
    </tr>
    <tr>
      <td>
        <h3>To read</h3>
        <ul id="3"></ul>
      </td>
      <td>
        <h3>To buy</h3>
        <ul id="4"></ul>
      </td>
    </tr>
  </table>

  <form id="taskForm" style="display: none">
    <label>Category</label>
    <select id="edit-category">
      <option value="1">To watch</option>
      <option value="2">To eat</option>
      <option value="3">To read</option>
      <option value="4">To buy</option>
    </select>
    <label>Content</label>
    <input id="edit-content" type="text" />
  <button type="submit" class="btn btn-primary">Save</button>
  </form>

  </form>
</body>

</html>
