<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!--link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" /-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <h1>Account Information</h1>
  <form id="editUserForm">
    <h2><label>First Name</label></h2>
    <input id="edit-firstName" type="text" required/>
    <h2><label>Last Name</label></h2>
    <input id="edit-lastName" type="text" required/>
    <h2><label>Email</label></h2>
    <input id="edit-email" type="email" required/>
    <h2><label>Password</label></h2>
    <input id="edit-password" type="password" required/>
    <h3><button type="submit" class="btn btn-primary">Save</button></h3>
  </form>
</body>

</html>
